*{
  background-color:rgb(178, 245, 221);
}
.front{
  margin: 150px;
}
.btn{
  height: 55px;
  width: 180px;
  font-size: 3ch;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: rgb(89, 89, 245);
  cursor: pointer;
}

.input{
  width: 50px;
  height: 50px;
}